[tool.poetry]
name = "patito"
version = "0.4.2"
description = "A dataframe modelling library built on top of polars and pydantic."
authors = ["Jakob Gerhard Martinussen <jakobgm@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/kolonialno/patito"
repository = "https://github.com/kolonialno/patito"
documentation = "https://patito.readthedocs.io"
keywords = ["validation", "dataframe"]

[tool.poetry.dependencies]
python = "^3.7"
pydantic = ">=1.7.0"
polars = ">=0.14.0"
# Required for typing.Literal in python3.7
typing-extensions = "*"
pandas = {version = "*", optional = true, python = "^3.8"}
duckdb = {version = ">=0.4.1.dev2407", optional = true, python = "^3.8", allow-prereleases = true}
pyarrow = {version = ">=5.0.0", optional = true, python = "^3.8"}
importlib-metadata = {version = "*", python = "<3.8"}
# Optional docs dependencies
Sphinx = {version = "*", optional = true}
sphinx-rtd-theme = {version = "*", optional = true}
sphinx-autobuild = {version = "*", optional = true}
sphinx-autodoc-typehints = {version = "*", optional = true}

[tool.poetry.extras]
duckdb = ["duckdb", "pyarrow"]
pandas = ["pandas"]
docs = ["Sphinx", "sphinx-rtd-theme", "sphinx-autobuild", "sphinx-autodoc-typehints"]

[tool.poetry.dev-dependencies]
black = ">=22.3.0"
coverage = {version = "*", extras = ["toml"]}
flake8 = "3.9.2"
flake8-annotations = "*"
flake8-bandit = "*"
flake8-black = "*"
flake8-bugbear = "*"
flake8-isort = "*"
isort = "*"
pyright = ">=1.1.239"
pytest = ">=7.1.2"
pytest-cov = ">=3.0.0"
pytest-watcher = ">=0.2.3"
xdoctest = ">=1.0.0"

mypy = ">=0.950"
types-setuptools = ">=57.4.14"
pandas-stubs = ">=1.2.0"
codecov = "^2.1.12"
blackdoc = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = [
    # Convert warnings into test errors
    "error",
    "ignore:pygments is not installed*:UserWarning",
    "ignore:unclosed running multiprocessing pool*:ResourceWarning",
]

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["patito"]

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "if TYPE_CHECKING:",
  "if not _PANDAS_AVAILABLE:",
  "except ImportError:",
]
fail_under = 100
show_missing = true

[tool.isort]
profile = "black"

[tool.pyright]
exclude = ["noxfile.py"]

[tool.mypy]
warn_unused_configs = true
disallow_untyped_defs = true
disallow_incomplete_defs = true
no_implicit_optional = true
strict_optional = false
warn_redundant_casts = true
warn_unused_ignores = true
warn_no_return = true
warn_unreachable = true
allow_redefinition = true
show_error_codes = true
exclude = [
  "noxfile.py",
]

[[tool.mypy.overrides]]
module = ["tests.*", "noxfile"]
disallow_untyped_defs = false
disallow_incomplete_defs = false
