[tool.poetry]
name = "patito"
version = "0.2.1"
description = "A dataframe modelling library built on top of polars and pydantic."
authors = ["Jakob Gerhard Martinussen <jakobgm@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/kolonialno/patito"
repository = "https://github.com/kolonialno/patito"
keywords = ["validation", "dataframe"]

[tool.poetry.dependencies]
python = "^3.7"
pydantic = ">=1.7.0"
polars = ">=0.13.18"
# Required for typing.Literal in python3.7
typing-extensions = "*"
pandas = {version = "*", optional = true, python = "^3.8"}
duckdb = {version = ">=0.3.2", optional = true, python = "^3.8"}
pyarrow = {version = ">=5.0.0", optional = true, python = "^3.8"}
importlib-metadata = {version = "*", python = "<3.8"}

[tool.poetry.extras]
duckdb = ["duckdb", "pyarrow"]
pandas = ["pandas"]

[tool.poetry.dev-dependencies]
black = ">=22.3.0"
coverage = {version = "*", extras = ["toml"]}
flake8 = "*"
flake8-annotations = "*"
flake8-bandit = "*"
flake8-black = "*"
flake8-bugbear = "*"
flake8-isort = "*"
isort = "*"
pyright = ">=1.1.239"
pytest = ">=7.1.2"
pytest-cov = ">=3.0.0"
pytest-watcher = ">=0.2.3"
xdoctest = ">=1.0.0"

mypy = ">=0.950"
types-setuptools = ">=57.4.14"
pandas-stubs = ">=1.2.0"
Sphinx = "<=4.4.0"
sphinx-rtd-theme = "^1.0.0"
sphinx-autobuild = "^2021.3.14"
codecov = "^2.1.12"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
filterwarnings = [
    # Convert warnings into test errors
    "error",
    "ignore:pygments is not installed*:UserWarning",
]

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["patito"]
# TODO: Remove once DuckDB-API becomes public
omit = ["src/patito/duckdb.py"]

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "if TYPE_CHECKING:",
  "if not _PANDAS_AVAILABLE:",
  "except ImportError:",
]
fail_under = 100
show_missing = true

[tool.isort]
profile = "black"

[tool.pyright]
exclude = ["noxfile.py"]

[tool.mypy]
# TODO: Remove once DuckDB wrapper becomes public API
exclude = [
  "src/patito/duckdb.py",
]
